:root{

    --primay-color: #6fd0ee;
    --off-white: #F3F4F6;
    --dark-gray: #6B7280;
}
body{
    text-decoration: none;
    font-family:  Ubuntu Condensedve;
    margin: 0px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    background-color: lightyellow;
}

/* spaces */
.margin-md{
    margin: 2rem;
}

.container{
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/* links */
.link {
    box-sizing: border-box;
    text-decoration: none;
    padding-bottom: 1rem;
    border-radius: 1rem;
    color: rgb(248, 248, 248);
    
}
 


.link-primary{
    background-color: var(--primay-color);
    border-radius: 0.5rem;
    border-color: black;
    color: rgb(0, 0, 0);
    display: block;
    max-width: 140px;
    margin: 1rem 1rem 1rem 0rem;
    padding: 0.5rem;
    text-align: center;
   

}
.link-secondary{
    background-color: var(--primay-color);
    border-radius: 0.5rem;
    color:rgb(0, 0, 0);
    display: block;
    max-width: 140px;
    margin: 1rem 1rem 1rem 0rem;
    padding: 0.5rem;
    text-align: center;
   
}


/* lists */
.list-non-bullet {
    list-style: none;
    padding-inline-start: 0px;
    }

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
    text-align: right;
}

/* stylling nav image */
.nav-img{
    height: 80%;
    width: 50%;
}


/* navigation */
.navigation {
color: white;
background-color: #111827; 
padding: 1rem;
border-bottom-left-radius: 1rem;
}

.navigation .nav-brand{
    font-weight: bolder;
    font-family: 'Playfair Display', serif;
    text-shadow: 2px 2px 1px rgb(0, 0, 0);
    font-size: large;
}
.nav-brand a{
    text-decoration: none;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    font-size: x-large;
    color: white;
}

.nav-brand a:hover{
    text-decoration: underline;
}
.navigation .nav-pills{
    color: var(--off-white);
    text-align: right;
    font-weight: normal;
    font-family: 'Roboto Slab', serif;
}

.navigation .link{
    color: white;

}
.navigation .link-active{
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

/* header */
.hero{
        padding: 2rem;
        padding-top: 5rem;
}

.hero .hero-img{
    max-width:80% ;
    width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--primay-color);
}
.invert-heading{
    color: rgb(34, 13, 153);
}

/*sections  */

.section{
   padding: 2rem;

}
.section h1 {
    text-align: center;
    font-weight: bold;
    padding: 0.5rem; 
}

.ow {
background-color: var(--off-white);
}


/* footer */

.footer{
    background-color: #D1D5DB;
    border-top-right-radius: 1rem;
    padding: 4rem 1rem;
    color:white;    
}
.footer .link{
    color: black;
    font-weight: bold;
    
}

.footer .footer-header{
    font-weight: bold; 
     font-size: large;
     text-align: center;
     padding-top: 0rem;
}
.footer ul{
    padding-inline-start: 0px;
}

.footer h1{
    color:rgb(0, 0, 0);
}


section a:hover{
    text-decoration: underline;
    background-color: rgb(255, 255, 255);
}

/* project styling */
.showcase-list {
    padding: 2rem;
}
.showcase-list a:hover{
    text-decoration: underline;
    background-color:white;
}
    
.showcase-list h1 a{
    text-decoration: underline;
    color: black;
}

 /* address stylling */

 .material-icons{
     background-color: transparent;
     padding: 1rem;
 }

 #button{
     
    background-color: transparent;
    border: black solid 0.1rem;
    border-radius: 0.5rem;
    color: black;
    font-weight: bolder;
}
 #button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  /* stylling visiting card images on home page */

  .column {

    float: left;
    width: 44%;
    padding: 5px;
    border: double rgb(11, 229, 245) 0.3rem;
    margin: 1rem;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  /* stylling prop-name */

  .prop-name{

        color: black;
  }
  .float-container{
      padding: 10px;
    
  }
  .float-child{
    width: 50%;
    float: right;
    padding: 10px;
    color: black;
    text-align: left;
    margin: auto;
  }
  .star{
    text-align: left;
   
}
.milan{
    text-align: right;
}

/* stylling para */
  .para{
      color: black;
      size: 4px;
      font-weight: bolder;
      font-size: 16;
      text-decoration: underline;
  }

 /* stylling tag-line */
 .tag-line{
     color:rgb(0, 0, 0);
     font-size: 17px;
     font-family: Chango;
 }

 /* stylling staff page */

 .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align: center;
    margin: 50px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
   
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
  }
  
  /* Add rounded corners to the top left and the top right corner of the image */
  img {
    border-radius: 3px 3px 3px 3px;
    border: black solid 0.5px;
    margin: 2px;
    height: inherit;
  }